@charset "ISO-8859-1";

body
{
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.menu-bar
{
    background: rgb(0,100,0);
    text-align:center;
}